# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS files
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Large unnecessary folders (ONLY if not used)
data/

# ❗ IMPORTANT: DO NOT IGNORE YOUR MODEL
# models/
# *.h5
# *.pt
# *.pth
# artifacts/